<?xml version="1.0" encoding="utf-8"?>
<manifest package="info.mqtt.java.example"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="info.hannes.logcat.LoggingApplication"
        tools:ignore="GoogleAppIndexingWarning">


<!--        <activity-->
<!--            android:name="info.mqtt.java.example.MQTTExampleActivity"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/AppTheme.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity
            android:name="info.mqtt.java.example.LoginActivity"
            android:label="test_entrance"
            android:theme="@style/AppTheme.NoActionBar">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>

        </activity>

        <activity
            android:name="info.mqtt.java.example.MQTTExampleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name="info.mqtt.java.example.PersonActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

<!--        android:theme="@style/AppTheme.NoActionBar"-->

    </application>

</manifest>
